<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Drug Lookup</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>
    <h1>Find Drugs</h1>
    <div>
        <input id="n" type="text" name="n"/>
    </div>

    <div id="drug"></div>


<!--     <div>
        <form action="" method="POST">
            {% csrf_token %}
                {{form}}
            <input type="submit" name="Submit">
        </form>
    </div>

    <div>
        {% for entity in entities%}
            <p>{{entity}} {{entity.id}} {{entity.entity_type}}</p>
        {% endfor %}
    </div>

    <div>
        {% for drug in drugs%}
            <p>{{drug}} {{drug.id}}</p>
        {% endfor %}
    </div>  -->

    <script src="static/js/main.js"></script>
</body>

</html>
